h1{
    font-size: 2rem;
    color: #243766;
}

h2{
    font-size: 1.5rem;
    color: #243766;
}

#GOL{
    color: #FF7E08;
}

#AZUL{
    color: #243766;
}

#TAM{
    color: #FF0808;
}

#LATAM{
    color: #A108FF;
}

p{
    color: black;
    margin: 0;
}

#content{
    background-color: #CDDDEE;
    border-radius: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

#container-btn{
    display: flex;
  justify-content: center;
  align-items: center;
}

#container-btn{
    text-align: center;
}

.btn{
    background-color: #3C5CAA;
    color: white;
}

.btn:hover{
    background-color: #243766;
    color: white;

}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-contentDelete {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.popup-contentEdit {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}


